<div class="row">
    <div class="col">
        <ul class="list-unstyled list-group">
            {% if is_granted('ROLE_USER') %}

                <li class="list-group-item  list-group-item-action">
                    <a href="{{ path('home') }}" class="stretched-link text-dark">
                        Home
                    </a>
                </li>

                <li class="list-group-item  list-group-item-action">
                    <a href="{{ path('trassirUsersList') }}" class="stretched-link text-dark">
                        Trassir Users
                    </a>
                </li>

            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}

                <li class="list-group-item list-group-item-action">
                    <a href="{{ path('userlist') }}" class="stretched-link text-dark">
                        Users
                    </a>
                </li>

                <li class="list-group-item list-group-item-action">
                    <a href="{{ path('nvrList') }}" class="stretched-link text-dark">
                        Trassir Nvrs
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>