{% extends 'home.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col text-center">
            <h2>{{ (server.name is defined) ? server.name ~' '~ server.ip : server.ip }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="tr_fixed">Date</th>
                    {% for healthPoint in constant('App\\Entity\\TrassirNvrData::HEALTH_POINTS') %}
                        <th class="tr_fixed">{{ healthPoint }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                {% include 'trassir/include/TR_trassirNvrHealth.html.twig' %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}