{% extends 'home.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col text-center">
            <h2>{{ (server.name is defined) ? server.name : server.ip }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="tableFixHead">
                <table class="table table-striped table-bordered table-fixed">
                    <thead>
                    <tr id="tableHeader">
                        <th>Date</th>
                        {% for healthPoint in constant('App\\Entity\\TrassirNvrData::HEALTH_POINTS') %}
                            <th>{{ healthPoint }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>

                    {% include 'trassir/include/TR_trassirNvrHealth.html.twig' %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
