{% extends 'trassir/index.html' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>SERVERS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        IP
                    </th>
                    <th>
                        ?
                    </th>
                    <th>
                        Status 1
                    </th>
                    {% for key in nvr_list.first.get_health_keys %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
                {% for NVR in nvr_list %}
                    <tr>
                        <td>{{ forloop.counter }}
                        <td>{{ 'NVR' }}</td>
                        <td>{{ NVR.ip }}</td>
                        <td><a href="{% url 'trassir:detail' NVR.id %}">{{ NVR.name }}_</a></td>
                        <td>{{ NVR.get_health }}</td>
                        {% for key, value in NVR.get_health.items %}
                            <td>{{ value }}</td>
                        {% endfor %}

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}