{% extends 'trassir/index.html' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>SERVERS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        IP
                    </th>

                    <th>
                        Refresh
                    </th>
                    {% for key in nvr_list.first.get_health_keys %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
                {% for NVR in nvr_list %}
                    <tr>
                        <td>{{ forloop.counter }}
                        <td><a href="{% url 'trassir:detail' NVR.id %}">{{ NVR }}</a></td>
                        <td>{{ NVR.ip }}</td>
                        <td><a href="{% url 'trassir:get_health' NVR.id %}">+</a></td>
                        {% if NVR.get_last_health.items %}
                            {% for key, value in NVR.get_last_health.items %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        {% elif NVR.get_last_health %}
                            <td>{{ NVR.get_last_health }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}\
