{% extends 'base.html.twig' %}

{% block body %}
<h1>HOME</h1>

    {{ data }}
{% if users is defined %}
    {% for user in users %}
        {{ user.id }}
        {{ user.username }}
        {{ user.password }}
    {% endfor %}
{% endif %}

{% endblock %}