{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% include 'include/top.html.twig' %}


        <div class="row">
            <div class="col-2">
                {% include 'include/left.html.twig' %}
            </div>

            <div class="col">
                {% block main %}
                    <h1>HOME</h1>

                    {% if data is defined %}
                    {{ data }}
                    {% endif %}
                    {% if users is defined %}

                    {% endif %}
                {% endblock %}
            </div>

        </div>

    </div>
{% endblock %}