{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% include 'include/top.html.twig' %}


        <div class="row text-nowrap">
            <div class="col-2">
                {% include 'include/left.html.twig' %}
            </div>

            <div class="col">
                {% block main %}
                    <h1>HOME</h1>
                    {% if data is defined %}
                    {{ data }}
                    {% endif %}
                    {% if users is defined %}

                    {% endif %}
                {% endblock %}
            </div>

        </div>

    </div>
    {% block ajax_wait_picture %}
        <div class="ajax_wait"><!-- Place at bottom of page --></div>
    {% endblock %}
{% endblock %}



{% block javascriptsAfterBody %}
    <script>
        $body = $("body");
        $(document).on({
            ajaxStart: function () {
                $body.addClass("loading");
            },
            ajaxStop: function () {
                $body.removeClass("loading");
            }
        });
    </script>
{% endblock %}

